* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(19, 30, 45, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #afffff;
}

#battery {
    background-color: #686899;
    color: #f1f7fe;
}

#battery.warning {
    background-color: #bba3c3;
    color: #f1f7fe;
}

#battery.critical {
    background-color: #b19395;
    color: #f1f7fe;
}

#clock {
    background-color: #9d84a5;
    color: #f1f7fe;
}

#cpu {
    background-color: #8f6367;
    color: #f1f7fe;
}

#memory {
    background-color: #686899;
    color: #f1f7fe;
}

#network {
    background-color: #036bee;
    color: #f1f7fe;
}

#network.disconnected {
    background-color: #b19395;
    color: #f1f7fe;
    
}

#pulseaudio {
    background-color: #8f6367;
    color: #f1f7fe;
}

#pulseaudio.bluetooth {
    background-color: #036bee;
    color: #f1f7fe; 
}

#pulseaudio.muted {
    background-color: #f1f7fe;
    color: #131e2d;
}

/* Sway */

#mode {
    background-color: #8f6367;
    color: #f1f7fe;
}


#window {
    color: #afffff;
}

#workspaces button {
    background-color: #9d84a5;
    color: #f1f7fe;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #036bee;
    color: #f1f7fe;
}

#workspaces button.urgent {
    background-color: #b19395;
    color: #f1f7fe;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
