* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(145, 172, 205, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #110e12;
}

#battery {
    background-color: #363b4b;
    color: #f5f7fa;
}

#battery.warning {
    background-color: #777a67;
    color: #f5f7fa;
}

#battery.critical {
    background-color: #605745;
    color: #f5f7fa;
}

#clock {
    background-color: #56594b;
    color: #f5f7fa;
}

#cpu {
    background-color: #113a70;
    color: #f5f7fa;
}

#memory {
    background-color: #363b4b;
    color: #f5f7fa;
}

#network {
    background-color: #1c3c71;
    color: #f5f7fa;
}

#network.disconnected {
    background-color: #605745;
    color: #f5f7fa;
    
}

#pulseaudio {
    background-color: #113a70;
    color: #f5f7fa;
}

#pulseaudio.bluetooth {
    background-color: #1c3c71;
    color: #f5f7fa; 
}

#pulseaudio.muted {
    background-color: #f5f7fa;
    color: #91accd;
}

/* Sway */

#mode {
    background-color: #113a70;
    color: #f5f7fa;
}


#window {
    color: #110e12;
}

#workspaces button {
    background-color: #56594b;
    color: #f5f7fa;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #1c3c71;
    color: #f5f7fa;
}

#workspaces button.urgent {
    background-color: #605745;
    color: #f5f7fa;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
