* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #fff560;
}

#battery {
    background-color: #e28c00;
    color: #fff7f0;
}

#battery.warning {
    background-color: #fa950b;
    color: #fff7f0;
}

#battery.critical {
    background-color: #ac380c;
    color: #fff7f0;
}

#clock {
    background-color: #c47204;
    color: #fff7f0;
}

#cpu {
    background-color: #bc5903;
    color: #fff7f0;
}

#memory {
    background-color: #e28c00;
    color: #fff7f0;
}

#network {
    background-color: #dc7800;
    color: #fff7f0;
}

#network.disconnected {
    background-color: #ac380c;
    color: #fff7f0;
    
}

#pulseaudio {
    background-color: #bc5903;
    color: #fff7f0;
}

#pulseaudio.bluetooth {
    background-color: #dc7800;
    color: #fff7f0; 
}

#pulseaudio.muted {
    background-color: #fff7f0;
    color: #000000;
}

/* Sway */

#mode {
    background-color: #bc5903;
    color: #fff7f0;
}


#window {
    color: #fff560;
}

#workspaces button {
    background-color: #c47204;
    color: #fff7f0;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #dc7800;
    color: #fff7f0;
}

#workspaces button.urgent {
    background-color: #ac380c;
    color: #fff7f0;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
