* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: <alpha-background>;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: <foreground>;
}

#battery {
    background-color: <green>;
    color: <light-grey>;
}

#battery.warning {
    background-color: <light-orange>;
    color: <light-grey>;
}

#battery.critical {
    background-color: <red>;
    color: <light-grey>;
}

#clock {
    background-color: <orange>;
    color: <light-grey>;
}

#cpu {
    background-color: <purple>;
    color: <light-grey>;
}

#memory {
    background-color: <green>;
    color: <light-grey>;
}

#network {
    background-color: <blue>;
    color: <light-grey>;
}

#network.disconnected {
    background-color: <red>;
    color: <light-grey>;
    
}

#pulseaudio {
    background-color: <purple>;
    color: <light-grey>;
}

#pulseaudio.bluetooth {
    background-color: <blue>;
    color: <light-grey>; 
}

#pulseaudio.muted {
    background-color: <light-grey>;
    color: <background>;
}

/* Sway */

#mode {
    background-color: <purple>;
    color: <light-grey>;
}


#window {
    color: <foreground>;
}

#workspaces button {
    background-color: <orange>;
    color: <light-grey>;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: <blue>;
    color: <light-grey>;
}

#workspaces button.urgent {
    background-color: <red>;
    color: <light-grey>;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
