* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(14, 33, 33, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #60efef;
}

#battery {
    background-color: #549351;
    color: #f5faf6;
}

#battery.warning {
    background-color: #b0b17f;
    color: #f5faf6;
}

#battery.critical {
    background-color: #df3b29;
    color: #f5faf6;
}

#clock {
    background-color: #94955e;
    color: #60efef;
}

#cpu {
    background-color: #79b844;
    color: #f5faf6;
}

#memory {
    background-color: #549351;
    color: #f5faf6;
}

#network {
    background-color: #64a469;
    color: #f5faf6;
}

#network.disconnected {
    background-color: #df3b29;
    color: #f5faf6;
    
}

#pulseaudio {
    background-color: #79b844;
    color: #f5faf6;
}

#pulseaudio.bluetooth {
    background-color: #64a469;
    color: #f5faf6; 
}

#pulseaudio.muted {
    background-color: #f5faf6;
    color: #0e2121;
}

/* Sway */

#mode {
    background-color: #79b844;
    color: #f5faf6;
}


#window {
    color: #f5faf6;
}

#workspaces button {
    background-color: #0e2121;
    color: #60efef;
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button.focused {
    background-color: #42b8b2;
    color: #f5faf6;
}

#workspaces button.urgent {
    background-color: #df3b29;
    color: #f5faf6;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
