* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(26, 33, 38, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #a0b3be;
}

#battery {
    background-color: #5a687a;
    color: #f6f7f8;
}

#battery.warning {
    background-color: #7186a1;
    color: #f6f7f8;
}

#battery.critical {
    background-color: #5a687c;
    color: #f6f7f8;
}

#clock {
    background-color: #56687f;
    color: #f6f7f8;
}

#cpu {
    background-color: #5a6776;
    color: #f6f7f8;
}

#memory {
    background-color: #5a687a;
    color: #f6f7f8;
}

#network {
    background-color: #5b6776;
    color: #f6f7f8;
}

#network.disconnected {
    background-color: #5a687c;
    color: #f6f7f8;
    
}

#pulseaudio {
    background-color: #5a6776;
    color: #f6f7f8;
}

#pulseaudio.bluetooth {
    background-color: #5b6776;
    color: #f6f7f8; 
}

#pulseaudio.muted {
    background-color: #f6f7f8;
    color: #1a2126;
}

/* Sway */

#mode {
    background-color: #5a6776;
    color: #f6f7f8;
}


#window {
    color: #a0b3be;
}

#workspaces button {
    background-color: #56687f;
    color: #f6f7f8;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #5b6776;
    color: #f6f7f8;
}

#workspaces button.urgent {
    background-color: #5a687c;
    color: #f6f7f8;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
