* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(22, 12, 10, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #bbbfc3;
}

#battery {
    background-color: #7b8579;
    color: #f7f7f7;
}

#battery.warning {
    background-color: #8f8f84;
    color: #f7f7f7;
}

#battery.critical {
    background-color: #908168;
    color: #f7f7f7;
}

#clock {
    background-color: #6f6f67;
    color: #bbbfc3;
}

#cpu {
    background-color: #7d8c2f;
    color: #f7f7f7;
}

#memory {
    background-color: #7b8579;
    color: #f7f7f7;
}

#network {
    background-color: #6e7178;
    color: #f7f7f7;
}

#network.disconnected {
    background-color: #908168;
    color: #f7f7f7;
    
}

#pulseaudio {
    background-color: #7d8c2f;
    color: #f7f7f7;
}

#pulseaudio.bluetooth {
    background-color: #6e7178;
    color: #f7f7f7; 
}

#pulseaudio.muted {
    background-color: #f7f7f7;
    color: #160c0a;
}

/* Sway */

#mode {
    background-color: #7d8c2f;
    color: #f7f7f7;
}


#window {
    color: #f7f7f7;
}

#workspaces button {
    background-color: #160c0a;
    color: #bbbfc3;
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button.focused {
    background-color: #68747a;
    color: #f7f7f7;
}

#workspaces button.urgent {
    background-color: #908168;
    color: #f7f7f7;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
