* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(157, 190, 210, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #201b25;
}

#battery {
    background-color: #2c4866;
    color: #f5f7fa;
}

#battery.warning {
    background-color: #db6909;
    color: #f5f7fa;
}

#battery.critical {
    background-color: #4d423d;
    color: #f5f7fa;
}

#clock {
    background-color: #a04d07;
    color: #f5f7fa;
}

#cpu {
    background-color: #1466a4;
    color: #f5f7fa;
}

#memory {
    background-color: #2c4866;
    color: #f5f7fa;
}

#network {
    background-color: #1c4770;
    color: #f5f7fa;
}

#network.disconnected {
    background-color: #4d423d;
    color: #f5f7fa;
    
}

#pulseaudio {
    background-color: #1466a4;
    color: #f5f7fa;
}

#pulseaudio.bluetooth {
    background-color: #1c4770;
    color: #f5f7fa; 
}

#pulseaudio.muted {
    background-color: #f5f7fa;
    color: #9dbed2;
}

/* Sway */

#mode {
    background-color: #1466a4;
    color: #f5f7fa;
}


#window {
    color: #201b25;
}

#workspaces button {
    background-color: #a04d07;
    color: #f5f7fa;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #1c4770;
    color: #f5f7fa;
}

#workspaces button.urgent {
    background-color: #4d423d;
    color: #f5f7fa;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
