* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(224, 224, 222, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #000000;
}

#battery {
    background-color: #608a28;
    color: #fbf4f5;
}

#battery.warning {
    background-color: #7f7e76;
    color: #fbf4f5;
}

#battery.critical {
    background-color: #b52101;
    color: #fbf4f5;
}

#clock {
    background-color: #5f5e59;
    color: #fbf4f5;
}

#cpu {
    background-color: #5e6053;
    color: #fbf4f5;
}

#memory {
    background-color: #608a28;
    color: #fbf4f5;
}

#network {
    background-color: #1a8a9e;
    color: #fbf4f5;
}

#network.disconnected {
    background-color: #b52101;
    color: #fbf4f5;
    
}

#pulseaudio {
    background-color: #5e6053;
    color: #fbf4f5;
}

#pulseaudio.bluetooth {
    background-color: #1a8a9e;
    color: #fbf4f5; 
}

#pulseaudio.muted {
    background-color: #fbf4f5;
    color: #e0e0de;
}

/* Sway */

#mode {
    background-color: #5e6053;
    color: #fbf4f5;
}


#window {
    color: #000000;
}

#workspaces button {
    background-color: #5f5e59;
    color: #fbf4f5;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #1a8a9e;
    color: #fbf4f5;
}

#workspaces button.urgent {
    background-color: #b52101;
    color: #fbf4f5;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
