* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(196, 170, 190, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #2b242c;
}

#battery {
    background-color: #2e4157;
    color: #f9f6f7;
}

#battery.warning {
    background-color: #735470;
    color: #f9f6f7;
}

#battery.critical {
    background-color: #5c3a38;
    color: #f9f6f7;
}

#clock {
    background-color: #4f3a4d;
    color: #f9f6f7;
}

#cpu {
    background-color: #885116;
    color: #f9f6f7;
}

#memory {
    background-color: #2e4157;
    color: #f9f6f7;
}

#network {
    background-color: #483d51;
    color: #f9f6f7;
}

#network.disconnected {
    background-color: #5c3a38;
    color: #f9f6f7;
    
}

#pulseaudio {
    background-color: #885116;
    color: #f9f6f7;
}

#pulseaudio.bluetooth {
    background-color: #483d51;
    color: #f9f6f7; 
}

#pulseaudio.muted {
    background-color: #f9f6f7;
    color: #c4aabe;
}

/* Sway */

#mode {
    background-color: #885116;
    color: #f9f6f7;
}


#window {
    color: #2b242c;
}

#workspaces button {
    background-color: #4f3a4d;
    color: #f9f6f7;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #483d51;
    color: #f9f6f7;
}

#workspaces button.urgent {
    background-color: #5c3a38;
    color: #f9f6f7;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
