* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(30, 31, 34, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #cda891;
}

#battery {
    background-color: #72869b;
    color: #fffdf9;
}

#battery.warning {
    background-color: #a2b057;
    color: #fffdf9;
}

#battery.critical {
    background-color: #9a7e64;
    color: #fffdf9;
}

#clock {
    background-color: #7d8841;
    color: #cda891;
}

#cpu {
    background-color: #8a826b;
    color: #fffdf9;
}

#memory {
    background-color: #72869b;
    color: #fffdf9;
}

#network {
    background-color: #8f8261;
    color: #fffdf9;
}

#network.disconnected {
    background-color: #9a7e64;
    color: #fffdf9;
    
}

#pulseaudio {
    background-color: #8a826b;
    color: #fffdf9;
}

#pulseaudio.bluetooth {
    background-color: #8f8261;
    color: #fffdf9; 
}

#pulseaudio.muted {
    background-color: #fffdf9;
    color: #1e1f22;
}

/* Sway */

#mode {
    background-color: #8a826b;
    color: #fffdf9;
}


#window {
    color: #fffdf9;
}

#workspaces button {
    background-color: #1e1f22;
    color: #cda891;
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button.focused {
    background-color: #af7836;
    color: #fffdf9;
}

#workspaces button.urgent {
    background-color: #9a7e64;
    color: #fffdf9;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
