* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(22, 19, 45, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #e4dd7b;
}

#battery {
    background-color: #8da85e;
    color: #fdf2f5;
}

#battery.warning {
    background-color: #c2ae82;
    color: #fdf2f5;
}

#battery.critical {
    background-color: #9f5155;
    color: #fdf2f5;
}

#clock {
    background-color: #aa935c;
    color: #e4dd7b;
}

#cpu {
    background-color: #e88825;
    color: #fdf2f5;
}

#memory {
    background-color: #8da85e;
    color: #fdf2f5;
}

#network {
    background-color: #249985;
    color: #fdf2f5;
}

#network.disconnected {
    background-color: #9f5155;
    color: #fdf2f5;
    
}

#pulseaudio {
    background-color: #e88825;
    color: #fdf2f5;
}

#pulseaudio.bluetooth {
    background-color: #249985;
    color: #fdf2f5; 
}

#pulseaudio.muted {
    background-color: #fdf2f5;
    color: #16132d;
}

/* Sway */

#mode {
    background-color: #e88825;
    color: #fdf2f5;
}


#window {
    color: #fdf2f5;
}

#workspaces button {
    background-color: #16132d;
    color: #e4dd7b;
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button.focused {
    background-color: #6f8f8d;
    color: #fdf2f5;
}

#workspaces button.urgent {
    background-color: #9f5155;
    color: #fdf2f5;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
