* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(5, 9, 11, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #9abfd4;
}

#battery {
    background-color: #68607b;
    color: #f9f5f6;
}

#battery.warning {
    background-color: #b697b2;
    color: #f9f5f6;
}

#battery.critical {
    background-color: #8f7d79;
    color: #f9f5f6;
}

#clock {
    background-color: #997794;
    color: #f9f5f6;
}

#cpu {
    background-color: #e16b22;
    color: #f9f5f6;
}

#memory {
    background-color: #68607b;
    color: #f9f5f6;
}

#network {
    background-color: #517090;
    color: #f9f5f6;
}

#network.disconnected {
    background-color: #8f7d79;
    color: #f9f5f6;
    
}

#pulseaudio {
    background-color: #e16b22;
    color: #f9f5f6;
}

#pulseaudio.bluetooth {
    background-color: #517090;
    color: #f9f5f6; 
}

#pulseaudio.muted {
    background-color: #f9f5f6;
    color: #05090b;
}

/* Sway */

#mode {
    background-color: #e16b22;
    color: #f9f5f6;
}


#window {
    color: #9abfd4;
}

#workspaces button {
    background-color: #997794;
    color: #f9f5f6;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #517090;
    color: #f9f5f6;
}

#workspaces button.urgent {
    background-color: #8f7d79;
    color: #f9f5f6;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
