* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}


window #waybar {
    background: rgba(7, 7, 9, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
}

#battery {
    background-color: #63626c;
    color: #1e1f25;
}

#battery.warning {
    background-color: #98a289;
    color: #f7f7f8;
}

#battery.critical {
    background-color: #8b7f68;
    color: #f7f7f8;
}

#clock {
    background-color: #d5d7dc;
    color: #f7f7f8;
}

#cpu {
    background-color: #5e626c;
    color: #f7f7f8;
}

#memory {
    background-color: #63626c;
    color: #f7f7f8;
}

#network {
    background-color: #70856c;
    color: #f7f7f8;
}

#network.disconnected {
    background-color: #8b7f68;
    color: #f7f7f8;
    
}

#pulseaudio {
    background-color: #5e626c;
    color: #f7f7f8;
}

#pulseaudio.bluetooth {
    background-color: #70856c;
    color: #f7f7f8; 
}

#pulseaudio.muted {
    background-color: #f7f7f8;
    color: #070709;
}

/* Sway */

#mode {
    background-color: #5e626c;
    color: #f7f7f8;
}


#window {
    color: #f7f7f8;
}

#workspaces button {
    background-color: #070709;
    color: #ffffff;
}

#workspaces button.visible button.focued {
    background-color: #8fa38b;
    color: #f7f7f8;
}

#workspaces button.urgent {
    background-color: #8b7f68;
    color: #f7f7f8;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
