* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(216, 220, 230, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #231f1d;
}

#battery {
    background-color: #565d88;
    color: #f6f7f8;
}

#battery.warning {
    background-color: #a29b83;
    color: #f6f7f8;
}

#battery.critical {
    background-color: #877968;
    color: #f6f7f8;
}

#clock {
    background-color: #837d65;
    color: #f6f7f8;
}

#cpu {
    background-color: #565e78;
    color: #f6f7f8;
}

#memory {
    background-color: #565d88;
    color: #f6f7f8;
}

#network {
    background-color: #565e7d;
    color: #f6f7f8;
}

#network.disconnected {
    background-color: #877968;
    color: #f6f7f8;
    
}

#pulseaudio {
    background-color: #565e78;
    color: #f6f7f8;
}

#pulseaudio.bluetooth {
    background-color: #565e7d;
    color: #f6f7f8; 
}

#pulseaudio.muted {
    background-color: #f6f7f8;
    color: #d8dce6;
}

/* Sway */

#mode {
    background-color: #565e78;
    color: #f6f7f8;
}


#window {
    color: #231f1d;
}

#workspaces button {
    background-color: #837d65;
    color: #f6f7f8;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #565e7d;
    color: #f6f7f8;
}

#workspaces button.urgent {
    background-color: #877968;
    color: #f6f7f8;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
