* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #e69868;
}

#battery {
    background-color: #98792d;
    color: #faf7f5;
}

#battery.warning {
    background-color: #a89d82;
    color: #faf7f5;
}

#battery.critical {
    background-color: #e93721;
    color: #faf7f5;
}

#clock {
    background-color: #8a7f63;
    color: #e69868;
}

#cpu {
    background-color: #e0c89d;
    color: #faf7f5;
}

#memory {
    background-color: #98792d;
    color: #faf7f5;
}

#network {
    background-color: #d7c39a;
    color: #faf7f5;
}

#network.disconnected {
    background-color: #e93721;
    color: #faf7f5;
    
}

#pulseaudio {
    background-color: #e0c89d;
    color: #faf7f5;
}

#pulseaudio.bluetooth {
    background-color: #d7c39a;
    color: #faf7f5; 
}

#pulseaudio.muted {
    background-color: #faf7f5;
    color: #000000;
}

/* Sway */

#mode {
    background-color: #e0c89d;
    color: #faf7f5;
}


#window {
    color: #faf7f5;
}

#workspaces button {
    background-color: #000000;
    color: #e69868;
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button.focused {
    background-color: #9c774d;
    color: #faf7f5;
}

#workspaces button.urgent {
    background-color: #e93721;
    color: #faf7f5;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
