* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(213, 214, 218, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #12110e;
}

#battery {
    background-color: #595961;
    color: #f7f7f8;
}

#battery.warning {
    background-color: #999689;
    color: #f7f7f8;
}

#battery.critical {
    background-color: #625756;
    color: #f7f7f8;
}

#clock {
    background-color: #7a776b;
    color: #f7f7f8;
}

#cpu {
    background-color: #c35802;
    color: #f7f7f8;
}

#memory {
    background-color: #595961;
    color: #f7f7f8;
}

#network {
    background-color: #315c91;
    color: #f7f7f8;
}

#network.disconnected {
    background-color: #625756;
    color: #f7f7f8;
    
}

#pulseaudio {
    background-color: #c35802;
    color: #f7f7f8;
}

#pulseaudio.bluetooth {
    background-color: #315c91;
    color: #f7f7f8; 
}

#pulseaudio.muted {
    background-color: #f7f7f8;
    color: #d5d6da;
}

/* Sway */

#mode {
    background-color: #c35802;
    color: #f7f7f8;
}


#window {
    color: #12110e;
}

#workspaces button {
    background-color: #7a776b;
    color: #f7f7f8;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #315c91;
    color: #f7f7f8;
}

#workspaces button.urgent {
    background-color: #625756;
    color: #f7f7f8;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
