* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(19, 35, 45, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #80cfff;
}

#battery {
    background-color: #4d72a9;
    color: #f4f8fb;
}

#battery.warning {
    background-color: #9b8d96;
    color: #f4f8fb;
}

#battery.critical {
    background-color: #9d8d84;
    color: #f4f8fb;
}

#clock {
    background-color: #7b7077;
    color: #80cfff;
}

#cpu {
    background-color: #88957e;
    color: #f4f8fb;
}

#memory {
    background-color: #4d72a9;
    color: #f4f8fb;
}

#network {
    background-color: #677283;
    color: #f4f8fb;
}

#network.disconnected {
    background-color: #9d8d84;
    color: #f4f8fb;
    
}

#pulseaudio {
    background-color: #88957e;
    color: #f4f8fb;
}

#pulseaudio.bluetooth {
    background-color: #677283;
    color: #f4f8fb; 
}

#pulseaudio.muted {
    background-color: #f4f8fb;
    color: #13232d;
}

/* Sway */

#mode {
    background-color: #88957e;
    color: #f4f8fb;
}


#window {
    color: #f4f8fb;
}

#workspaces button {
    background-color: #13232d;
    color: #80cfff;
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button.focused {
    background-color: #5b98b8;
    color: #f4f8fb;
}

#workspaces button.urgent {
    background-color: #9d8d84;
    color: #f4f8fb;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
