* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}


window #waybar {
    background: rgba(23, 25, 24, 0.9);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #fdeec1;
}

#battery {
    background-color: #7d8ba3;
    color: #303331;
}

#battery.warning {
    background-color: #b6bc86;
    color: #fbf6f4;
}

#battery.critical {
    background-color: #f34b23;
    color: #fbf6f4;
}

#clock {
    background-color: #e8d2ca;
    color: #fbf6f4;
}

#cpu {
    background-color: #ddb406;
    color: #fbf6f4;
}

#memory {
    background-color: #7d8ba3;
    color: #fbf6f4;
}

#network {
    background-color: #d4b50b;
    color: #fbf6f4;
}

#network.disconnected {
    background-color: #f34b23;
    color: #fbf6f4;
    
}

#pulseaudio {
    background-color: #ddb406;
    color: #fbf6f4;
}

#pulseaudio.bluetooth {
    background-color: #d4b50b;
    color: #fbf6f4; 
}

#pulseaudio.muted {
    background-color: #fbf6f4;
    color: #171918;
}

/* Sway */

#mode {
    background-color: #ddb406;
    color: #fbf6f4;
}


#window {
    color: #fbf6f4;
}

#workspaces button {
    background-color: #171918;
    color: #fdeec1;
}

#workspaces button.visible button.focued {
    background-color: #f5d626;
    color: #fbf6f4;
}

#workspaces button.urgent {
    background-color: #f34b23;
    color: #fbf6f4;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
