* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #dedfe0;
}

#battery {
    background-color: #85868a;
    color: #f8f7f6;
}

#battery.warning {
    background-color: #a6a895;
    color: #f8f7f6;
}

#battery.critical {
    background-color: #898181;
    color: #f8f7f6;
}

#clock {
    background-color: #878977;
    color: #f8f7f6;
}

#cpu {
    background-color: #89973f;
    color: #f8f7f6;
}

#memory {
    background-color: #85868a;
    color: #f8f7f6;
}

#network {
    background-color: #7f8482;
    color: #f8f7f6;
}

#network.disconnected {
    background-color: #898181;
    color: #f8f7f6;
    
}

#pulseaudio {
    background-color: #89973f;
    color: #f8f7f6;
}

#pulseaudio.bluetooth {
    background-color: #7f8482;
    color: #f8f7f6; 
}

#pulseaudio.muted {
    background-color: #f8f7f6;
    color: #000000;
}

/* Sway */

#mode {
    background-color: #89973f;
    color: #f8f7f6;
}


#window {
    color: #dedfe0;
}

#workspaces button {
    background-color: #878977;
    color: #f8f7f6;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #7f8482;
    color: #f8f7f6;
}

#workspaces button.urgent {
    background-color: #898181;
    color: #f8f7f6;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
