* {
    border: none;
    border-radius: 0;
    font-family: 'Hack Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.75);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #afafaf;
}

#battery {
    background-color: #818181;
    color: #f7f7f7;
}

#battery.warning {
    background-color: #a49f9f;
    color: #f7f7f7;
}

#battery.critical {
    background-color: #dbdbdb;
    color: #f7f7f7;
}

#clock {
    background-color: #838383;
    color: #f7f7f7;
}

#cpu {
    background-color: #838383;
    color: #f7f7f7;
}

#memory {
    background-color: #818181;
    color: #f7f7f7;
}

#network {
    background-color: #848484;
    color: #f7f7f7;
}

#network.disconnected {
    background-color: #dbdbdb;
    color: #f7f7f7;
    
}

#pulseaudio {
    background-color: #838383;
    color: #f7f7f7;
}

#pulseaudio.bluetooth {
    background-color: #848484;
    color: #f7f7f7; 
}

#pulseaudio.muted {
    background-color: #f7f7f7;
    color: #000000;
}

/* Sway */

#mode {
    background-color: #838383;
    color: #f7f7f7;
}


#window {
    color: #afafaf;
}

#workspaces button {
    background-color: #838383;
    color: #f7f7f7;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    background-color: #848484;
    color: #f7f7f7;
}

#workspaces button.urgent {
    background-color: #dbdbdb;
    color: #f7f7f7;
}

/* Custom blocks */

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
